body {
    background-color: #1e4159;

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    background-color: #fff;
    font-family: 'Muli', Sans-Serif;
    font-weight: 300;
}

.footer {
    background-color: #ccc;
    height: 80px;
    text-align: center;
    font-family: 'Muli', Sans-Serif;
    font-weight: 300;
}

.footer p {
    font-size: .8em;
    padding-top: 20px;
}

/* Text styles */

h1, h2, h3, h4, h5, h6 {
    Font-Family: 'Merriweather', Serif;
   }

h1 {
    color: #95323A;
    font-size: 4em;
	margin-top: 25px;
}

h2 {

    color: #1D5835;
    font-size: 3em;
	margin-top:40px;
}

h3 {

    font-size: 2em;
}

h4 {

    font-size: 1.5em;
}

p {
    font-size: 1em;
    line-height: 150%;
    margin-top: 20px;
}

p.final  {
    margin-bottom: 60px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
  }


 /* Mods to Navigation go here */
 
 ul.nav a:hover { 
    color: #666 !important;
    text-decoration: underline;
}
 
 ul.nav a:hover { 
     color: #666 !important;
     text-decoration: underline;
 }

.navbar-toggle {
    background-color:#3C84B4 !important;
	border-color: #2D6286 !important;
}

.icon-bar {
    background-color: #fff !important;
}

.navbar-collapse {
	background-color:#ffffff;
	margin-top: 30px;
}

.navbar-header {
	margin-top: 30px;
}


.container {
	background-color: #fff;
	margin-top: -20px;
}

/* Contact form styling  */
.formContainer {
    width: 65%;

}


/* Add styles to 'label' selector */
label {
	font-size: 0.85em;
	margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], input[type=tel], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to the submit button */
input[type=submit] {
	background: #64B5F6;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #2196F3;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}



/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
	
	.navbar-nav{
		background-color: #2D6286 !important;
	}
	
	.navbar-collapse {
		border: none !important;
	}
	
	 ul.nav a:hover { 
     color: #fff !important;
     text-decoration: underline;
 }
 
 	 ul.nav a { 
     color: #fff !important;
 }

}



